version: 2
jobs:
  build-job:
    working_directory: ~/sdjs-speaker-pipeline
    docker:
      - image: circleci/node:8.11.0
    steps:
      - checkout
      - run:
          name: Install npm Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: Mocha Test Suite
          command: 'npm run test'
  deploy-job:
    working_directory: ~/sdjs-speaker-pipeline
    docker:
      - image: circleci/node:8.11.0
    steps:
      - checkout
      - run:
          name: Install Now
          command: sudo npm install --global --unsafe-perm now
      - run:
          name: Deploy using now.sh
          command: now -e MONGODB_URI -e ADMIN_PASSWORD -e NODE_ENV -t ${NOW_TOKEN} -T origin && alias
      - run:
          name: Set now.sh alias
          command: now -t ${NOW_TOKEN} -T origin alias
workflows:
  version: 2
  build:
    jobs:
      - build-job
      # - deploy-job:
      #     requires:
      #       - build-job
      #     filters:
      #       branches:
      #         only: master
