.admin-banner {
  margin-top: 60px;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(24, 132, 195, 0.64), rgba(24, 132, 195, 0.64)), url("/pics/background-meetup.png");
  background-size: auto, cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  background-position: 0px 0px, 0px 40%;
}
.admin-banner .btn {
  background-color: #ff5041;
  margin-bottom: 40px;
}
.admin-banner h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.admin-banner h2 {
  font-size: 40px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.admin-banner p {
  font-size: 24px;
  padding-bottom: 15px;
}

.admin-info {
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}
.admin-info h3 {
  color: #1884c3;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}
.admin-info p {
  color: #777;
  font-size: 20;
}
.admin-info .btn {
  margin-left: 20px;
}

.dos-and-donts {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.dos {
  margin: 15px;
  padding: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid silver;
  border-radius: 3px;
  width: 25%;
  box-shadow: 5px 5px #888888;
}
.dos h5 {
  font-size: 30px;
  color: green;
  margin-bottom: 5px;
  margin-top: 5px;
}

.donts {
  margin: 15px;
  padding: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid silver;
  border-radius: 3px;
  width: 25%;
  flex: 0 auto;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 5px 5px #888888;
}
.donts h5 {
  font-size: 30px;
  color: red;
  margin-bottom: 5px;
  margin-top: 5px;
}

.border {
  width: 50%;
}

.info {
  margin-left: 15%;
  margin-right: 15%;
}
.info h3 {
  color: #1884c3;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.info p {
  color: #777;
  font-size: 20;
}

.inline-link {
  color: #1884c3;
}

.logo {
  width: 150px;
  height: auto;
}

.banner {
  margin-top: 80px;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(24, 132, 195, 0.64), rgba(24, 132, 195, 0.64)), url("/pics/background-meetup.png");
  background-size: auto, cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
.banner .btn {
  background-color: #ff5041;
  margin-bottom: 40px;
}
.banner h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.banner h2 {
  font-size: 40px;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.banner p {
  font-size: 24px;
  padding-bottom: 15px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 100;
  width: 100%;
  padding: 15px 25px 10px;
  background-color: #f7f7f7;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.55);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  text-transform: uppercase;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 30px;
}

.nav-item {
  display: inline-block;
  border-bottom: 1px dotted transparent;
  -webkit-transition: color 200ms ease, border 200ms ease;
  transition: color 200ms ease, border 200ms ease;
  color: silver;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item.w--current {
  color: #1884c3;
  font-weight: 700;
}

.nav-item:hover {
  color: #1884c3;
  border-bottom-color: #1884c3;
}

.home-nav .nav-items {
  text-transform: uppercase;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.signUp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.signUp-container h1 {
  text-align: center;
}
.signUp-container h3 {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding: 30px;
  font-weight: normal;
  letter-spacing: 2px;
}
.signUp-container hr {
  width: 80%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border: 1px solid gray;
}
.form-container form {
  margin: 200px 100px;
  width: 60%;
  background: #1884c3;
  color: white;
  box-shadow: 1px 1px gray;
  border-radius: 5px;
}
.form-container form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container form div label {
  justify-content: right;
  width: 70%;
  margin: 10px 0;
  font-weight: normal;
  letter-spacing: 1px;
}
.form-container form div input {
  width: 70%;
  height: 30px;
  font-size: 15px;
  box-shadow: 1px 1px gray;
  border-radius: 5px;
  border: none;
}
.form-container form div textarea {
  width: 70%;
  font-size: 15px;
  box-shadow: 1px 1px gray;
  border-radius: 5px;
  border: none;
  height: 50px;
}
.form-container form div select {
  width: 70%;
  height: 30px;
  font-size: 15px;
  color: #313131;
  box-shadow: 1px 1px gray;
  border: none;
}
.form-container form div button {
  background-color: #ff5041;
  margin: 30px;
}

.form-title {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}
.table tr {
  color: #3b3b3b;
  font-size: 15px;
  border: 1px solid #efefef;
  text-transform: capitalize;
  background-color: #fbfbfb;
}
.table td {
  padding: 20px;
  background-color: #fbfbfb;
}
.table select {
  height: 50px;
  width: 120px;
  margin-bottom: 10px;
}
.table .btn {
  width: 60px;
  border-radius: 5%;
  font-size: 10px;
  padding: 2px;
  margin-left: initial;
  margin: 5px;
}
.table .btn:hover {
  background-color: #146fa5;
}
.table .table-speakerEmail {
  font-size: 15px;
  margin-top: 10px;
}
.table .table-speakerPhone {
  font-size: 15px;
}
.table a {
  color: #1884c3;
}
.table i {
  margin-right: 5px;
  color: #3b3b3b;
}
.table .table-description {
  font-size: 15px;
  margin-top: 5px;
}
.table .table-eventDate {
  font-size: 15px;
  margin-top: 10px;
}
.table .table-tableAction {
  display: flex;
  flex-direction: column;
}
.table .table-tableStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table .table-tableConfirmation {
  font-size: 15px;
  margin-top: 5px;
}
.table .table-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table .side-by-side-btns {
  margin: 5px;
}
.table .options i {
  margin-left: 10px;
}
.table .table-editTalk {
  margin: 20px 0;
}
.table .table-editTalk div {
  margin-bottom: 10px;
}
.table .table-editTalk input {
  height: 20px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  width: 100%;
}
.table .table-editTalk textarea {
  height: 50px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  width: 100%;
}

.login {
  margin-top: 85px;
  background-image: linear-gradient(180deg, rgba(24, 132, 195, 0.64), rgba(24, 132, 195, 0.64)), url("/pics/background-meetup.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#remember {
  margin-bottom: 30px;
  width: 155px;
}

#remember input {
  width: 15px;
  height: 16px;
}

.login .btn {
  margin-bottom: 5px;
}

#admin-top-div {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 20px;
  font-size: 15pt;
  background-color: #146fa5;
  color: white;
  letter-spacing: 1px;
}

.meetups {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.meetups .table .table-header-meetups-page {
  font-size: 15px;
  margin: 0;
  border-bottom: 1px solid #313131;
  height: 50px;
}

.meetups-child {
  width: 80%;
}

.meetup-link {
  background: #ff5041;
  color: white;
  font-size: 15px;
  box-shadow: 1px 1px darkslategrey;
  text-decoration: none;
  padding: 10px;
}

.single-meetup {
  margin: 50px 0;
  border: 1px solid #313131;
}

.talks-page-container {
  width: 80%;
  text-align: center;
  height: 100%;
}
.talks-page-container h1 {
  color: #313131;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.talks-page-container tr {
  border: 1px solid #313131;
}
.talks-page-container .talk-component-on-talks-page {
  color: white;
  border: 1px solid #313131;
  height: 100px;
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #146fa5;
}
.talks-page-container .talk-component-on-talks-page th {
  font-weight: normal;
}
.talks-page-container .talks-allTalks {
  margin-bottom: 50px;
}
.talks-page-container .talks-owner-filter {
  text-align: right;
}
.talks-page-container .talks-owner-filter select {
  height: 30px;
  margin-left: 5px;
  border: 0px;
  background-color: transparent;
  font-size: 15px;
}

.organizer-container {
  width: 100%;
}
.organizer-container h3 {
  text-align: center;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0;
}

#organizer-form {
  border: 1px solid #313131;
  background-color: #fbfbfb;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 50px;
}
#organizer-form div {
  width: 100%;
}
#organizer-form label {
  font-weight: normal;
  margin: 5px 0;
}
#organizer-form input {
  width: 100%;
  height: 25px;
  font-size: 15px;
  margin: 5px 0px;
}
#organizer-form button {
  width: 100%;
  margin-top: 20px;
}

.organizer-display-container {
  border: 1px solid #313131;
  width: 70%;
  margin: 50px auto;
  background-color: #fbfbfb;
  padding: 20px;
}
.organizer-display-container .organizer-display-section {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.organizer-display-container .organizer-display-section i {
  margin: 0px 10px;
}
.organizer-display-container .organizer-display-section .organizer-display-div {
  width: 30%;
}

.organizer-edit-section {
  margin: 50px 0;
}
.organizer-edit-section #organizer-edit-form {
  display: flex;
  justify-content: space-between;
}
.organizer-edit-section #organizer-edit-form div {
  margin: 0 10px;
}
.organizer-edit-section #organizer-edit-form label {
  font-weight: normal;
  letter-spacing: 1px;
}
.organizer-edit-section #organizer-edit-form input {
  font-size: 15px;
  width: 80%;
}

.fa-times {
  font-size: 20px;
  margin: auto 5px;
  color: #4b4b4b;
}

#name {
  text-transform: capitalize;
}

#confirmation {
  margin-top: 200px;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #fbfbfb;
  border: solid 1px #313131;
}

.buttons .btn {
  margin-left: 25px;
  margin-right: 25px;
}

body {
  background-color: #f1f1f1;
}

h1 {
  margin-top: 0;
}

p {
  margin: 30px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  margin: 0;
}

.btn {
  background-color: #1884c3;
  border: 3px solid transparent;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 23px;
  padding-top: 12px;
  padding-right: 23px;
  padding-bottom: 12px;
  padding-left: 23px;
  text-transform: uppercase;
  transition: border 200ms ease, color 200ms ease, background-color 200ms ease;
  transition-property: border, color, background-color;
  transition-duration: 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}

.top-div {
  background-color: #f1f1f1;
  padding: 120px 0;
  display: flex;
  justify-content: center;
}
.top-div h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
