body {
    margin: 0;
    font-size: 28px;
  }
   
  #navbar {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.925);
  }
  
    .content {
    padding: 16px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }

#talk{
text-align: center;
padding: 17%;
line-height: 20px;
font-size: 25px;
position: center;
box-shadow: 0px 780px rgba(0, 110, 255, 0.6) inset;
color: white;
background-image: url("jsmeet.png");
background-size: cover;
}

#talk button{
background-color: rgb(0, 110, 255);
margin: 10px;
padding: 15px;
}

footer {
  display: flex;
  padding: 30px;
  background-color: black;
  color: #fff;
}

footer p {
  flex: 1;
  margin: 30px;
}

footer ul {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin: 25px;
  padding-left: 0;
  list-style: none;
}

.webflow{
  text-align: center;
}

#logo{
width: 11%;
}

h4{
width: 70%;
margin: 15%;
}