.login {
    margin-top: 85px;
    background-image: linear-gradient(180deg, rgba(24, 132, 195, .64), rgba(24, 132, 195, .64)), url('/pics/background-meetup.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
#remember {
    margin-bottom: 30px;
    width: 155px;
}
#remember input {
    width: 15px;
    height: 16px;
}
.login .btn {
    margin-bottom: 5px;
}
#admin-top-div {
    height: 100%;
}
