.admin-banner{
    margin-top: 60px;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(24, 132, 195, .64), rgba(24, 132, 195, .64)), url('/pics/background-meetup.png');
    background-size: auto, cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    background-position: 0px 0px, 0px 40%;
    .btn {
        background-color: #ff5041;
        margin-bottom: 40px;
    }
    h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 40px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: 24px;
        padding-bottom: 15px;
    }
}

.admin-info{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    h3 {
    color: #1884c3;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    }
    p {
        color: #777;
        font-size: 20;
    }
    .btn{
        margin-left: 20px;
    }
}

.dos-and-donts {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.dos {
    margin: 15px;
    padding: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border: 1px solid silver;
    border-radius: 3px;
    width: 25%;
    box-shadow: 5px 5px #888888;
        h5 {
            font-size: 30px;
            color: green;
            margin-bottom: 5px;
            margin-top: 5px;

        }
}

.donts {
    margin: 15px;
    padding: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border: 1px solid silver;
    border-radius: 3px;
    width: 25%;
    flex: 0 auto;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 5px 5px #888888;
        h5 {
            font-size: 30px;
            color: red;
            margin-bottom: 5px;
            margin-top: 5px;


        }
}

.border {
    width: 50%;
}

.info {
    margin-left: 15%;
    margin-right: 15%;
    h3 {
    color: #1884c3;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
    margin-top: 20px;
    }
    p {
        color: #777;
        font-size: 20;
    }
}

.inline-link {
    color: #1884c3;
}

.logo {
    width: 150px;
    height: auto;
}

.banner {
    margin-top: 80px;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(24, 132, 195, .64), rgba(24, 132, 195, .64)), url('/pics/background-meetup.png');
    background-size: auto, cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    .btn {
        background-color: #ff5041;
        margin-bottom: 40px;
    }
    h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 40px;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p {
        font-size: 24px;
        padding-bottom: 15px;
    }
}
