.organizer-container {
  width: 100%;

  h3 {
    text-align: center;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
  }
}

#organizer-form {
    border: 1px solid $dark-gray;
    background-color: $off-white;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px;

    div {
      width: 100%
    }

    label {
      font-weight: normal;
      margin: 5px 0;
    }
    
    input {
      width: 100%;
      height: 25px;
      font-size: 15px;
      margin: 5px 0px;
    }

    button {
      width: 100%;
      margin-top: 20px;
    }

  }

  .organizer-display-container {
    border: 1px solid $dark-gray;
    width: 70%;
    margin: 50px auto;
    background-color: $off-white;
    padding: 20px;

    .organizer-display-section {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      i {
        margin: 0px 10px;
      }

      .organizer-display-div {
        width: 30%
      }
    }
  }

  .organizer-edit-section {
    margin: 50px 0;

    #organizer-edit-form {
      display: flex;
      justify-content: space-between;

      div {
        margin: 0 10px; 
      }

      label {
        font-weight: normal;
        letter-spacing: 1px;
      }

      input {
        font-size: 15px;
        width: 80%;
      }

      
    }
  }

  .fa-times {
    font-size: 20px;
    margin: auto 5px;
    color: lighten( $dark-gray, 10% );
  }

  #name {
    text-transform: capitalize;
  }
