$font: 'Open Sans', sans-serif;
$primary-color: #146fa5;
$secondary-color: #ff5041;
$background-color: #f1f1f1;
$dark-gray: #313131;
$off-white: #fbfbfb;

@import 'js-meetup-home';
@import 'navbar';
@import 'talk-signup';
@import 'talk';
@import 'admin-login';
@import 'meetups';
@import 'talks-page';
@import 'organizers';
@import 'ConfirmOrCancel';

html{
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: $font;
    background-size: cover;
    margin: 0;
}

.btn {
    background-color: #1884c3;
    border: 3px solid transparent;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 23px;
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 12px;
    padding-left: 23px;
    text-transform: uppercase;
    transition: border 200ms ease, color 200ms ease, background-color 200ms ease;
    transition-property: border, color, background-color;
    transition-duration: 200ms, 200ms, 200ms;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
}

.top-div {
    background-color: $background-color;
    padding: 120px 0;
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
  
    h1 {
        font-size: 30px;
    }
  }
@media only screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 2.5rem;
    }
 }