    .talks-page-container {
        width: 80%;
        text-align: center;
        height: 100%;

        h1 {
            color: $dark-gray;
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 1px;
            margin-bottom: 50px;
        }

        tr {
            border: 1px solid $dark-gray 
        }

        .talk-component-on-talks-page {
            color: white;
            border: 1px solid $dark-gray;
            height: 100px;
            margin: 0;
            font-size: 20px;
            font-weight: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            background-color: $primary-color;

            th {
                font-weight: normal;
            }

        }

        .talks-allTalks {
            margin-bottom: 50px;
        }

        .talks-owner-filter {
            text-align: right;

            select {
                height: 30px;
                margin-left: 5px;
                border: 0px;
                background-color: transparent;
                font-size: 15px;
            }
        }

    }
 @media (min-width: 481px) and (max-width: 767px) {
        .talks-page-container {
            width: 100%;
            h1 {
                font-size: 30px;
            }
        }
}
    @media only screen and (min-width: 320px) and (max-width: 480px) {
     .talks-page-container{
         width: 100%;
     }
     .talk-component-on-talks-page {
         width: 100%;
     } 
     }